apiVersion: apps/v1
kind: Deployment
metadata:
  name: no-test
  namespace: ns-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: no-test
  template:
    metadata:
      labels:
        app: no-test
    spec:
      containers:
      - name: nginx
        image: nginx
        resources:
          requests:
            cpu: "0.3"
            memory: 512Mi
          limits:
            cpu: "0.5"
            memory: 512Mi
